body {

    background-color: #3f3f3f;

}



div.conteiner {

    position: relative;
    width: 120%;
    height: 100px;
    margin-bottom: 10px;

}

div.titulo {

    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
    top: 20px;
    left: 730px;
    -webkit-text-fill-color: #38c438;
    font-size: 28px;

}

div.menu {

    position: relative;
    left: 600px;
    top: 40px;

}

div.separador {

    position: relative;
    top: 35px;

}




div.corpoPersonagens {

    position: absolute;
    width: 100%;
    top: 170px;

}

div.personagem {
    position: relative;
    left: 120px;
    display: flex;
    align-items: flex-start; 
    float: left;
    width: 400px;
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #0f1f0f;

}

div.principalNome {

    position: relative;
    font-size: 20px;
    color: white;
    width: 200px;
    height: 50px;
    top: 410px;
    left: -150px;

}




div.personagemDetalhes {

    position: relative;
    width: 700px;
    height: 1600px;
    left: 600px;
    top: 40px;
    background-color: rgb(10, 53, 6);
}

div.personagemDetalhesIMG img { 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}


div.personagemDados {

    position: relative;
    top: -200px;
    left: 360px;
    width: 340px;
    height: 350px;

}

div.personagemDados2 {

    position: relative;
    top: -250px;
    left: 20px;
    width: 660px;
    height: 360px;
    text-align: center;

}

div.personagemDados3 {

    position: relative;
    top: -500px;
    left: 200px; 
    width: 300px;
    height: 500px;

}

div.areaBotoesFuncionalidades {

    position: relative;
    width: 100px;
    height: 25px;
    left: -600px;
    top: -90px;
    float: left;

}

img {

    position: relative;
    top: 100px;
    left: 50px;
}

div.mainContent {

    -webkit-text-fill-color: aliceblue;
    position: absolute;
    left: 320px ;
    top: 210px;

}




titulo {
    font-size: 26px;
}


hr {

    color: #008000 ;
    width: "100%" ;
    size: "1" ;

}

titulos {

    -webkit-text-fill-color: #38c438;
    font-size: 28px;
    vertical-align: middle;
    

}

textos {

    font-size: 24px;
    -webkit-text-fill-color: white;

}

links {

    font-size: 12px;
    color: white;

}

div.conteinerPersonagemNome {

    position: relative;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 610px;
    height: 600px;
    left: 5px;
    top: 30px;
    align-items: center;
    background-color: rgb(10, 53, 6);
}

div.personagemNomeDados {

    position: relative;
    width: 230px;
    height: 300px;
    left: 360px;
    top: -220px;

}

div.personagemNomeDados2 {
    
    position: relative;
    text-align: center;
    width: 400px;
    height: 150px;
    top: -200px;
    left: 100px;

}

#voltar {

    cursor: pointer;
    padding: 4px 16px;
    background-color: #b6b6b6;
}

#voltar:hover {

    background-color: #8a8a8a;
    color: white;
}

#avancar {

    border: 2px solid #8a8a8a;
    cursor: pointer;
    padding: 2px 6px;
    background-color: #b6b6b6;
}

#avancar:hover {

    background-color: #8a8a8a;
    color: white;
}

#retornar {

    border: 2px solid #8a8a8a;
    cursor: pointer;
    padding: 2px 6px;
    background-color: #b6b6b6;
}

#retornar:hover {

    background-color: #8a8a8a;
    color: white;
}

#restalrar {

    border: 2px solid #8a8a8a;
    cursor: pointer;
    padding: 4px 7px;
    background-color: #b6b6b6;
}

#restalrar:hover {

    background-color: #8a8a8a;
    color: white;
}

pagina {

    color: white;
    font-size: 12px;

}

div.separaBotoes {

    position: relative;
    width: 20px;
    height: 10px;
    top: -24px;
    left: 49px;
    background-color: yellow;
}

